<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.gitlab.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.gitlab }}</a></h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.gitlab.project_tagline }}</p>

        {% if site.gitlab.is_project_page %}
        <p class="view"><a href="https://gitlab.com/DOzernyi">View the Project on GitLab <small>{{ site.gitlab.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.gitlab.is_user_page %}
        <p class="view"><a href="{{ site.gitlab.owner_url }}">View My GitLab Profile</a></p>
        {% endif %}

        <!--
                    {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://gitlab.com/DOzernyi/lsalatex/-/archive/main/lsalatex-main.zip">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://gitlab.com/DOzernyi/lsalatex/-/archive/main/lsalatex-main.tar">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://gitlab.com/DOzernyi/lsalatex">View On <strong>GitLab</strong></a></li>
        </ul>
        {% endif %}
-->
<!--
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://www.overleaf.com/latex/templates/phonological-data-and-analysis-journal-template/gyxmzxhgpdyc">Go to template<strong> PDA</strong></a></li>
          <li><a href="https://www.overleaf.com/latex/templates/proceedings-of-linguistic-society-of-america-template/dbyndfxkwqrs">Go to template <strong>PLSA</strong></a></li>
          <li><a href="https://www.overleaf.com/latex/templates/elm-template/mvzsyqnsnppk">Go to template <strong>ELM</strong></a></li>
        </ul>
        {% endif %}
-->
<!--        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://www.linguisticsociety.org/"><strong>LSA website</strong></a></li>
          <li><a href="https://www.overleaf.com/latex/templates/proceedings-of-linguistic-society-of-america-template/dbyndfxkwqrs">Go to template <strong>PLSA</strong></a></li>
          <li><a href="https://www.overleaf.com/latex/templates/elm-template/mvzsyqnsnppk">Go to template <strong>ELM</strong></a></li>
-->
        </ul>
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="https://gitlab.com/dozernyi">DOzernyi</a>.</p>
        <p><small>&copy; Copyright 2023 CC BY-NC-SA 4.0, Daniil M. Ozernyi</small></p>
        <p><small>Hosted on GitLab Pages. GitHub theme by <a href="https://github.com/orderedlist">orderedlist</a>, adapted for GitLab by DOzernyi.</small></p>
      </footer>
    </div>
    <script src="{{ "/_sass/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
